/* You can add global styles to this file, and also import other style files */
/* styles.css */
body,
.p-component {
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  color: #1f2937; /* Tailwind gray-800 */
}
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.app-dark, .app-dark *));
@import "primeicons/primeicons.css";
.p-panelmenu-item-link-active {
  @apply bg-slate-200 rounded text-blue-600 dark:text-slate-50 dark:bg-gray-800;
}
.p-panelmenu {
  @apply w-full border-none bg-transparent dark:bg-transparent;
}

a.active {
  @apply bg-gray-200 dark:bg-gray-900;
}

.p-panelmenu-panel {
  box-shadow: none !important;
}
