<p-card
  header="Add Train Schedule"
  class="shadow-lg rounded-xl border border-gray-200 dark:border-gray-700"
>
  <div class="max-w-3xl mx-auto px-8 py-10 rounded-lg">
    <h2
      class="text-xl font-semibold mb-8 border-b pb-3 flex items-center gap-2"
    >
      <i class="pi pi-calendar"></i>
      Train Schedule Form
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Train Dropdown -->
        <div>
          <label class="block text-sm font-medium mb-1">
            <i class="pi pi-train mr-1">🚆</i> Train
          </label>
          <p-select
            formControlName="trainId"
            [options]="trains"
            optionLabel="name"
            optionValue="id"
            placeholder="Select Train"
            class="w-full"
          ></p-select>
          <small
            *ngIf="form.get('trainId')?.touched && form.get('trainId')?.invalid"
            class="text-red-500"
          >
            Train is required.
          </small>
        </div>

        <!-- Run Date (as text input) -->
        <div>
          <label class="block text-sm font-medium mb-1">
            <i class="pi pi-clock mr-1"></i> Run Date & Time
          </label>
          <p-date-picker
            pInputText
            formControlName="runDate"
            placeholder="Select Date"
            class="w-full"
          />
          <small
            *ngIf="form.get('runDate')?.touched && form.get('runDate')?.invalid"
            class="text-red-500"
          >
            Run date is required.
          </small>
        </div>

        <!-- Available Seats -->
        <div>
          <label class="block text-sm font-medium mb-1">
            <i class="pi pi-users mr-1"></i> Available Seats
          </label>
          <input
            type="number"
            pInputText
            formControlName="availableSeats"
            class="w-full"
            placeholder="e.g. 100"
          />
          <small
            *ngIf="
              form.get('availableSeats')?.touched &&
              form.get('availableSeats')?.invalid
            "
            class="text-red-500"
          >
            Enter a valid seat count.
          </small>
        </div>
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-4 mt-10">
        <p-button
          label="Back"
          icon="pi pi-arrow-left"
          severity="secondary"
          type="button"
          [routerLink]="'/admin/schedules'"
        ></p-button>
        <p-button
          label="Reset"
          icon="pi pi-refresh"
          severity="secondary"
          type="button"
          (click)="form.reset()"
        ></p-button>

        <p-button
          label="Save"
          icon="pi pi-check"
          type="submit"
          severity="primary"
        ></p-button>
      </div>
    </form>
  </div>
</p-card>
