<section class="max-w-6xl mx-auto px-4 py-8">
  <div class="">
    <app-add-task-component
      (taskAddedEvent)="addTaskFromComp($event)"
    ></app-add-task-component
    > 
  </div>
  <h2 class="text-2xl font-bold text-gray-800 mb-6">{{ title }}</h2>

  <!-- search button -->
  <seach-component
    [buttonText]="'Search'"
    (searchButtonClick)="userSearchSomething($event)"
  ></seach-component>
  <!-- end of search button -->

  <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
    <!-- Task Card -->
    <!-- starting single task -->

    <task-card *ngFor="let task of tasks" [task]="task"></task-card>

    <!-- end single task -->
  </div>
</section>

<!-- end of task card -->
