<!-- STATIC SIDEBAR -->
<div
  class="fixed w-80 py-6 px-4 flex flex-col justify-between h-screen border-r border-surface-300 dark:border-surface-700 shadow-sm"
>
  <!-- Header -->
  <div>
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-primary dark:text-primary-light">
        IRCTC
      </h1>
      <p class="text-sm dark:text-white">Book your journey</p>
    </div>

    <!-- Main Navigation -->
    <p-panelmenu [model]="items" class="w-full" />
  </div>

  <!-- Footer / Secondary Navigation -->
  <div>
    <p-panelmenu
      [model]="items1"
      class="w-full border-none bg-transparent dark:bg-transparent"
    />
    <p class="text-xs text-center text-color-secondary mt-6 dark:text-white">
      © 2025 IRCTC App
    </p>
  </div>
</div>
